

.App {
  text-align: center;
}

.Cell {
  background-color: #656666;
  height: 100px;
  width: 9%;
  user-select: none;
  cursor: pointer;
  font-size: 32px;
  float:left;
  border: black solid 1px;
}